@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
html {
  font-size: 62.5%; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  color: #FFFFFF;
  background-color: #CFDBDB; }

h1 {
  font-size: 8rem; }
  @media screen and (max-width: 600px) {
    h1 {
      font-size: 5rem; } }

h2 {
  font-style: italic; }

span {
  color: #000000;
  font-size: 1.4rem;
  font-weight: bold; }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }

.content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 111.1rem;
  height: 65.1rem;
  background-color: #F4F4F4;
  background-image: url("../../assets/background.jpeg");
  background-position: center;
  border: 1.2rem solid #F4F4F4;
  border-radius: 3rem;
  box-shadow: 3rem 3rem 5rem rgba(0, 0, 0, 0.2); }
  @media screen and (max-width: 1200px) {
    .content-container {
      width: 100%;
      height: 100%;
      border: 0;
      border-radius: 0; } }

.header {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  padding: 3rem; }
  @media screen and (max-width: 600px) {
    .header {
      flex-direction: column;
      align-items: center; } }

.top-nav {
  list-style: none; }
  @media screen and (max-width: 600px) {
    .top-nav {
      margin-top: 1rem; } }

.top-nav__item {
  display: inline;
  margin: 0 2rem; }
  @media screen and (max-width: 600px) {
    .top-nav__item {
      margin: 0 .5rem; } }

.top-nav__link {
  color: inherit;
  font-size: 1.2rem;
  letter-spacing: .2rem;
  font-weight: bolder;
  text-transform: uppercase;
  text-decoration: none; }
  .top-nav__link:hover {
    text-decoration: underline; }

.content {
  display: flex; }

.content__title {
  padding-left: 16rem; }
  @media screen and (max-width: 1200px) {
    .content__title {
      padding-left: 2rem;
      margin-right: 2rem; } }

.content__sub-title {
  font-size: 1.4rem;
  letter-spacing: .2rem;
  line-height: 2.5rem; }

.content__page-box {
  margin-left: auto;
  padding-top: 5rem;
  align-self: center;
  width: 20rem; }

.content__page-selection {
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: .8rem;
  margin-bottom: .5rem; }

.content__page {
  color: #FFFFFF;
  font-size: 2rem; }

.content__page-of {
  color: #CCCCCC;
  margin-left: .5rem;
  font-size: 1.4rem; }

.content__place {
  color: #CCCCCC;
  font-size: 1.2rem;
  font-style: italic; }

@media screen and (max-width: 600px) {
  .scroll {
    display: none; } }

.scroll:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 6rem;
  width: 12rem;
  border-top: 1px solid #CCCCCC;
  transform: rotate(-90deg);
  z-index: 10; }

.scroll__text {
  position: absolute;
  left: -1rem;
  bottom: 20rem;
  width: 14rem;
  color: #CCCCCC;
  font-size: 1.2rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  transform: rotate(-90deg); }

.footer {
  display: flex;
  justify-content: flex-end;
  z-index: 20; }

.footer-nav {
  display: flex;
  justify-content: space-evenly;
  height: 4rem;
  padding-top: 2rem;
  width: 100rem;
  background-color: #FFFFFF;
  border-radius: 1.6rem 0;
  list-style: none; }
  @media screen and (max-width: 1200px) {
    .footer-nav {
      width: 100%;
      border-radius: 1.6rem 0 0 0; } }
  @media screen and (max-width: 823px) {
    .footer-nav {
      border-radius: 0;
      height: 5.5rem; } }
  @media screen and (max-width: 600px) {
    .footer-nav {
      height: 6.5rem; } }

.footer-nav__item {
  display: inline;
  padding: 0;
  margin: 0; }
  @media screen and (max-width: 1200px) {
    .footer-nav__item {
      margin-left: 2rem;
      margin-right: 2rem; } }
  @media screen and (max-width: 600px) {
    .footer-nav__item {
      margin-left: .5rem;
      margin-right: .5rem;
      font-size: .8rem; } }

.footer-nav__link {
  color: #000000;
  font-size: 1.2rem;
  letter-spacing: .1rem;
  text-decoration: none; }
  .footer-nav__link:hover {
    text-decoration: underline; }
  @media screen and (max-width: 600px) {
    .footer-nav__link {
      font-size: 1rem; } }
