.header {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    padding: 3rem;
    @media screen and (max-width: $breakpoint-small) {
        flex-direction: column;
        align-items: center;
    }
}
