.footer-nav {
    display: flex;
    justify-content: space-evenly;
    height: 4rem;
    padding-top: 2rem;
    width: 100rem;
    background-color: $background-color-tertiary;
    border-radius: 1.6rem 0;
    list-style: none;
    @media screen and (max-width: $breakpoint-large) {
        width: 100%;
        border-radius: 1.6rem 0 0 0;
    }
    @media screen and (max-width: $breakpoint-medium) {
        border-radius: 0;
        height: 5.5rem;
    }
    @media screen and (max-width: $breakpoint-small) {
        height: 6.5rem;
    }
}
    .footer-nav__item {
        display: inline;
        padding: 0;
        margin: 0;
        @media screen and (max-width: $breakpoint-large) {
            margin-left: 2rem;
            margin-right: 2rem;
        }
        @media screen and (max-width: $breakpoint-small) {
            margin-left: .5rem;
            margin-right: .5rem;
            font-size: .8rem;
        }
    }
    .footer-nav__link {
        color: $font-color-secundary;
        font-size: 1.2rem;
        letter-spacing: .1rem;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
        @media screen and (max-width: $breakpoint-small) {
            font-size: 1rem;
        }
    }