.content {
    display: flex;
}
    .content__title {
        padding-left: 16rem;
        @media screen and (max-width: $breakpoint-large) {
            padding-left: 2rem;
            margin-right: 2rem;
        }
    }
    .content__sub-title {
        font-size: 1.4rem;
        letter-spacing: .2rem;
        line-height: 2.5rem;
    }
    .content__page-box {
        margin-left: auto;
        padding-top: 5rem;
        align-self: center;
        width: 20rem;
    }
    .content__page-selection {
        border-bottom: 1px solid $font-color-tertiary;
        padding-bottom: .8rem;
        margin-bottom: .5rem;
    }
    .content__page {
        color: $font-color-primary;
        font-size: 2rem;
    }
    .content__page-of {
        color: $font-color-tertiary;
        margin-left: .5rem;
        font-size: 1.4rem;
    }
    .content__place {
        color: $font-color-tertiary;
        font-size: 1.2rem;
        font-style: italic;
    }