.top-nav {
    list-style: none;
    @media screen and (max-width: $breakpoint-small) {
       margin-top: 1rem;
    }
}
    .top-nav__item {
        display: inline;
        margin: 0 2rem;
        @media screen and (max-width: $breakpoint-small) {
            margin: 0 .5rem;
        }
    }
    .top-nav__link {
        color: inherit;
        font-size: 1.2rem;
        letter-spacing: .2rem;
        font-weight: bolder;
        text-transform: uppercase;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }