.scroll {
    @media screen and (max-width: $breakpoint-small) {
        display: none;
    }
}
    .scroll:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 6rem;
        width: 12rem;
        border-top: 1px solid $font-color-tertiary;
        transform: rotate(-90deg);
        z-index: 10;
}
    .scroll__text {
        position: absolute;
        left: -1rem;
        bottom: 20rem;
        width: 14rem;
        color: $font-color-tertiary;
        font-size: 1.2rem;
        letter-spacing: .2rem;
        text-transform: uppercase;
        transform: rotate(-90deg);
    }