.content-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 111.1rem;
    height: 65.1rem;
    background-color: $background-color-secundary;
    background-image: url('../../assets/background.jpeg');
    background-position: center;
    border: 1.2rem solid $background-color-secundary;
    border-radius: 3rem;
    box-shadow: 3rem 3rem 5rem rgba($color: #000000, $alpha: .2);
    @media screen and (max-width: $breakpoint-large) {
        width: 100%;
        height: 100%;
        border: 0;
        border-radius: 0;
    }
}