$background-color-primary: #CFDBDB;
$background-color-secundary: #F4F4F4;
$background-color-tertiary: #FFFFFF;
$font-color-primary: #FFFFFF;
$font-color-secundary: #000000;
$font-color-tertiary: #CCCCCC;